html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

/* Image */

#header {
  position: fixed;
  display: flex;
  background-color: #FFFFFF;
  width: 100%;
}

#header-img {
  width: 300px;
  padding-left: 50px;
}

/* Nav - Topline */

.nav-bar {
  background-color: #FFFFFF;
  height: 60px;
  padding-left: 150px;
}

li {
  list-style: none;
  padding: 0px 20px 0px 20px;
}

a {
  color: #000000;
  text-decoration: none;
  font-family: 'Open Sans';
  font-weight: bold;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* wrap class that covers ALL of the sections below */

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

/* What we offer section */

.What_We_Offer {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.grid_element {
    display: flex;
    font-size: 10px;
}

.grid_element h2 {
    font-size: 2.5em;
}

.grid_element p {
    font-size: 1.5em;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    color: royalblue;
    font-size: 4em;
}

/*Pricing Section*/


.Price_box {
  width: 200px;
  height: 200px;
  background-color: grey;
  border-radius: 15px;
  padding: 0px 20px 0px 20px;
  margin: 0px 20px 0px 20px;
}

.price_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  .price_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

/* Contact - none of the below works */
    


#form input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 50px;
}

#form input[type='submit'] {
  max-width: 150px;
  width: 100%; 
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

input[type='submit']:hover {
  background-color: orange;
  transition: background-color 1s;
}


    
